// Colors
$site-color-blue: #0065B3;
$site-color-black: #000;
$site-color-white: #FFF;
$site-color-light-gray: #D8D8D8;
$site-color-gray: #535353;

$site-color-primary: $site-color-blue;

$site-color-inline-code: #e6e6e6;

// Fonts
$site-font-family-base: 'Noto Sans', monospace;
$site-font-family-monospace: 'Noto Sans Mono', monospace;

// Layout
$site-content-padding-top: 40px;
$site-sidebar-padding-y: 30px;
$site-sidebar-padding-x: 18px;