{% assign cache_bust = site.time|date:'?v=%s' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="theme-color" content="#317EFB">

  <title>{{ site.title }} {% if page.title %} | {{ page.title }} {% endif %}</title>

  <meta name="description" content="{{ page.description }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | append: cache_bust }}">
  
  {% for css in page.css %}
    {% assign asset_path = '/asset/css/{{css}}' %}
    <link rel="stylesheet" href="{{ asset_path | append: cache_bust }}">
  {% endfor %}

</head>
<body {% if page.body_class %} class="{{body_class}}" {% endif %}>

  {% include header.html %}

  {{ content }}

  {% if page.show_footer %}
    {% include footer.html %}
  {% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{{ '/assets/js/main.js' | append: cache_bust }}"></script>

  {% for script in page.js %}
    <script src="{{ script.url | default: js }}" {% if script.defer %}defer{% endif %}></script>
  {% endfor %}

</body>
</html>
